<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${appointment}" method="post">
    <p>patient last name: <input type="text" th:field="*{patient.lastName}" placeholder="patient last name" /></p>
    <p>doctor last name: <input type="text" th:field="*{doctor.lastName}" placeholder = " doctor lastName" /></p>
    <p>date: <input type="datetime-local" th:field="*{appointmentDateTime}" placeholder = "appointment date" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>