<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">MedApp</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="/admin/findAll">admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctor/findAll">doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/receptionist/findAll">receptionist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patient/findAll">patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patientCard/findAll">patientCard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appointment/findAll">appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service/findAll">service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drugSearch/search">find a drug</a>
            </li>
        </ul>
    </div>
</nav>
<h1> Witaj w MedApp</h1>
</body>
</html>




<!--p>lekarze link przkierworujacy na lekarzy krorzy uzmoliwa iperacje crufowe</p>-->
<!--<p>pacjenci link przkierworujacy na pacjentow krorzy uzmoliwa iperacje crufowe</p>-->
<!--<p>recpcja link przkierworujacy na recepcji krorzy uzmoliwa iperacje crufowe</p>-->
<!--<p>raporty</p>-->